{% extends "layouts/dashboard_master.html" %}
{% load static %}

{% block content %}

  <!-- Preloader -->
  <!-- <div class="preloader flex-column justify-content-center align-items-center">
    <img class="animation__shake" src="{% static 'dist/img/load.gif' %}" alt="AdminLTELogo" height="60" width="60">
  </div> -->

  <!-- Content Header (Page header) -->
  <div class="content-header" style="padding: 10px 20px 0px 20px;">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <!-- <h1 class="m-0" style="font-family: Serif;">Map Legend List (Update and Delete)</h1> -->
        </div><!-- /.col -->

        <!-- <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Dashboard v1</li>
          </ol>
        </div> -->

      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">

      <div class="row">
        <div class="col-md-12" style="margin: 0px 0px 0px 0px;">
          <div class="card card-primary">
            <div class="card-header"><h3 class="card-title" style="font-family: Serif;">View Layer Map Color List (View | Edit | Delete)</h3></div>
              <input type="hidden" name="userName" id="userName" value="" />

              <div class="row">
                <div class="col-md-2" style="margin: 20px 0px 20px 25px;">
                  <button type="submit" class="btn" id="btn_refresh" style="width: 100%;border-radius: 5px;color: black;background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 51%, #ffecd2 100%);">
                    Refresh
                  </button>
                </div>
              </div>  
              
              <div class="col-md-12" style="margin: 0px 0px 40px 20px;padding-right: 40px;">
                <table width="100%" class="table table-bordered table-striped datatable dtr-inline" id="my_table">
                  <thead>
                    <tr style="background-color: #6bbfd9;font-family: Cambria;">
                      <th style="text-align: center;width: 5%;">Serial</th>
                      <th style="text-align: left;width: 10%;">Category Name</th>
                      <th style="text-align: left;width: 8%;">Watershed Name</th>
                      <th style="text-align: left;width: 15%;">Para Name</th>
                      <th style="text-align: left;width: 8%;">Actual Value</th>
                      <th style="text-align: left;width: 10%;">Legend Value</th>
                      <th style="text-align: left;width: 8%;">Layer Color</th>
                      <th style="text-align: center;width: 10%;">Action</th>
                      <!-- <th style="text-align: center;width: 6%;">Action</th> -->
                    </tr>
                  </thead>
                
                  <tbody id="table_body"></tbody>

                </table>
              </div>

          </div> <!-- /. end card body -->
        </div> <!-- /.end col-12 -->

      </div>

    <!-- Add New :: -->
    <div class="modal fade" id="myModal_add" tabindex="-1" role="dialog" aria-labelledby="myModalTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header" style="background-color: #001a33;">
            <h5 class="modal-title" id="exampleModalLongTitle" style="color: white;">Add New Map Legend :</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

              <div class="row">
                <div class="col-sm-4" style="margin: 10px 0px 10px 0px;text-align: left;"> 
                  <label style="font-family: Tahoma;font-size: 15px;margin: 5px 0px 5px 0px;">
                  <span style="color: red;">★&nbsp;</span>Category Id</label></div>
                  <div class="col-sm-6" style="margin: 10px 0px 10px 0px;">
                  <select class="custom-select form-control" name="p_catgry_id" id="p_catgry_id"></select>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-4" style="margin: 10px 0px 10px 0px;text-align: left;"> 
                  <label style="font-family: Tahoma;font-size: 15px;margin: 5px 0px 5px 0px;">
                  <span style="color: red;">★&nbsp;</span>Category Name</label></div>
                  <div class="col-sm-6" style="margin: 10px 0px 10px 0px;">
                  <input type="text" class="form-control" name="p_catgry_name" id="p_catgry_name" value="" style="border-radius: 5px;border: 2px solid #77c3e1" placeholder="Please fill up this field..">
                </div>
              </div>

              <div class="row">
                <div class="col-sm-4" style="margin: 10px 0px 10px 0px;text-align: left;"> 
                  <label style="font-family: Tahoma;font-size: 15px;margin: 5px 0px 5px 0px;">
                  <span style="color: red;">★&nbsp;</span>Display Header</label></div>
                  <div class="col-sm-6" style="margin: 10px 0px 10px 0px;">
                  <input type="text" class="form-control" name="p_header" id="p_header" value="" style="border-radius: 5px;border: 2px solid #77c3e1" placeholder="Please fill up this field..">
                </div>
              </div>

              <div class="row">
                <div class="col-sm-4" style="margin: 10px 0px 10px 0px;text-align: left;"> 
                  <label style="font-family: Tahoma;font-size: 15px;margin: 5px 0px 5px 0px;">
                  <span style="color: red;">★&nbsp;</span>Legend Color</label></div>
                  <div class="col-sm-6" style="margin: 10px 0px 10px 0px;">
                  <input type="text" class="form-control" name="p_legend_color" id="p_legend_color" value="" style="border-radius: 5px;border: 2px solid #77c3e1" placeholder="Please fill up this field..">
                </div>
              </div>

              <div class="row">
                <div class="col-sm-4" style="margin: 10px 0px 10px 0px;text-align: left;"> 
                  <label style="font-family: Tahoma;font-size: 15px;margin: 5px 0px 5px 0px;">
                  <span style="color: red;">★&nbsp;</span>Legend Value</label></div>
                  <div class="col-sm-6" style="margin: 10px 0px 10px 0px;">
                  <input type="text" class="form-control" name="p_legend_value" id="p_legend_value" value="" style="border-radius: 5px;border: 2px solid #77c3e1" placeholder="Please fill up this field..">
                </div>
              </div>

              
          </div> <!-- /end modal body -->

          <div class="modal-footer">
            <button type="button" id="btn_close" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" id="btn_save_new1" class="btn btn-primary">Save Changes</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Edit :: -->
    <div class="modal fade" id="myModal_edit" tabindex="-1" role="dialog" aria-labelledby="myModalTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header" style="background-color: #001a33;">
            <h5 class="modal-title" id="exampleModalLongTitle" style="color: white;">Edit Layer Map Color Info :</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <input type="hidden" name="row_id" id="row_id" value=""/>
              <div class="row">
                <!-- <div class="col-sm-1"></div>'; -->
                <div class="col-sm-4" style="margin: 10px 0px 10px 0px;text-align: left;"> 
                  <label style="font-family: Cambria;font-size: 15px;margin: 5px 0px 5px 0px;">
                  <span style="color: red;">★&nbsp;</span>Category Name</label></div>
                  <div class="col-sm-6" style="margin: 10px 0px 10px 0px;">
                  <input type="text" class="form-control" name="m_catgry_name" id="m_catgry_name" value="" style="border-radius: 5px;border: 2px solid #77c3e1" disabled>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-4" style="margin: 10px 0px 10px 0px;text-align: left;"> 
                  <label style="font-family: Cambria;font-size: 15px;margin: 5px 0px 5px 0px;">
                  <span style="color: red;">★&nbsp;</span>Watershed </label></div>
                  <div class="col-sm-6" style="margin: 10px 0px 10px 0px;">
                  <input type="text" class="form-control" name="m_watershed" id="m_watershed" value="" style="border-radius: 5px;border: 2px solid #77c3e1" disabled>
                </div>
              </div>

              <div class="row">
                <!-- <div class="col-sm-1"></div>'; -->
                <div class="col-sm-4" style="margin: 10px 0px 10px 0px;text-align: left;"> 
                  <label style="font-family: Cambria;font-size: 15px;margin: 5px 0px 5px 0px;">
                  <span style="color: red;">★&nbsp;</span>Para Name</label></div>
                  <div class="col-sm-6" style="margin: 10px 0px 10px 0px;">
                  <input type="text" class="form-control" name="m_para_name" id="m_para_name" value="" style="border-radius: 5px;border: 2px solid #77c3e1">
                </div>
              </div>

              <div class="row">
                <div class="col-sm-4" style="margin: 10px 0px 10px 0px;text-align: left;"> 
                  <label style="font-family: Cambria;font-size: 15px;margin: 5px 0px 5px 0px;">
                  <span style="color: red;">★&nbsp;</span>Actual Value</label></div>
                  <div class="col-sm-6" style="margin: 10px 0px 10px 0px;">
                  <input type="text" class="form-control" name="m_actual_value" id="m_actual_value" value="" style="border-radius: 5px;border: 2px solid #77c3e1" >
                </div>
              </div>

              <div class="row">
                <div class="col-sm-4" style="margin: 10px 0px 10px 0px;text-align: left;"> 
                  <label style="font-family: Cambria;font-size: 15px;margin: 5px 0px 5px 0px;">
                  <span style="color: red;">★&nbsp;</span>Legend Value</label></div>
                  <div class="col-sm-6" style="margin: 10px 0px 10px 0px;">
                  <select class="custom-select form-control add_select2" name="m_legend_value" id="m_legend_value"></select>
                  <!-- <input type="text" class="form-control" name="m_legend_value" id="m_legend_value" value="" style="border-radius: 5px;border: 2px solid #77c3e1" > -->
                </div>
              </div>

              <div class="row">
                <div class="col-sm-4" style="margin: 10px 0px 10px 0px;text-align: left;"> 
                  <label style="font-family: Cambria;font-size: 15px;margin: 5px 0px 5px 0px;">
                  <span style="color: red;">★&nbsp;</span>Layer Color</label></div>
                  <div class="col-sm-6" style="margin: 10px 0px 10px 0px;">
                  <input type="text" class="form-control" name="m_layer_color" id="m_layer_color" value="" style="border-radius: 5px;border: 2px solid #77c3e1" disabled>
                </div>
              </div>

              
          </div> <!-- /end modal body -->

          <div class="modal-footer">
            <button type="button" id="btn_close" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" id="btn_save_changes" class="btn btn-primary">Save Changes</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Popup Confirmation Message -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Message</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <h5 id="success_msg"><h5>
            <h5 id="error_msg"><h5>

          </div>
          <div class="modal-footer">
            <button type="button" id="btn_close" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
          </div>
        </div>
      </div>
    </div>


    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
       
{% endblock content %}


{% block current_page_scripts %}

<script src="{% static 'app/scripts/admin/viewLayerMapColor.js' %}"></script>


{% endblock current_page_scripts %}